@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --brand: #f60900;
  --brand-2: #940200;
  --bg-1: #000000;
  --bg-2: #1a1a1a;
  --color-1: #cecece;
  --color-2: #a0a0a0;
  --border-color: #262626;
  --font-family: "Space Grotesk", sans-serif;
  --radius-1: 30px;
  --radius-2: 20px;
  --squircle: squircle;
  --head-1: 1.4rem;
  --head-2: 1.1rem;
  --head-3: 1.05rem;
  --head-4: 1rem;
  --body-text: 1rem;
  --body-small: 0.8rem;
  --line-height: 100%;
  --line-height-2: 140%;
  --padding-1: 2rem 0 5rem 0;
  --padding-2: 10px;
  --text-transform: uppercase;
  --transition: all 0.5s ease;
  --border: 1px solid var(--border-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  transition: var(--transition);
}

::selection {
  background: var(--brand);
  color: var(--bg-2);
}

a {
  text-decoration: none;
  color: inherit;
  line-height: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-1);
  color: var(--color-1);
  font-family: var(--font-family);
  line-height: var(--line-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* header */

.header {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-radius: var(--radius-2);
  background: var(--bg-2);
  padding: 8px;
  backdrop-filter: blur(4px);
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.menu {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
 

}

.menu-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item {
  color: var(--color-1);
  font-size: var(--body-small);
  text-transform: var(--text-transform);
  padding: 6px;
  border-radius: 12px;
  border: 1px solid transparent;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--brand);
  border-color: var(--border-color);
}

.theme-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border: var(--border);
  border-radius: 20px;
}

.theme-icon {
  padding: 5px;
  width: 30px;
  color: var(--color-1);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--radius-2);
}

.theme-icon:hover {
  color: var(--brand);
  border-color: var(--border-color);
}

.theme-icon.active {
  color: var(--brand);
  border-color: var(--border-color);
}

.menu-open {
  color: var(--color-1);
  user-select: none;
  text-decoration: none;
  font-size: var(--body-small);
  text-transform: var(--text-transform);
  padding: 8px 8px;
  border-radius: var(--radius-2);
  border: var(--border);
  cursor: pointer;
  line-height: 1;
}

.menu-open:hover {
  color: var(--brand);
  border-color: var(--border-color);
}

.menu-close {
  width: 20px;
  color: var(--brand);
  align-self: end;
}

.mob-menu {
  position: fixed;
  left: 0;
  bottom: -110%;
  width: 100%;
  height: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2);
  transition-duration: 1.2s;
  z-index: 99;
  
}

.mob-menu.open-menu {
  bottom: 8%;

}

.menu-wrapper {
  width: 100%;
  background: var(--bg-2);
  height: 100%;
  display: flex;
  border: var(--border);
  border-radius: var(--radius-2);
  flex-direction: column;
  padding: var(--padding-2);
  gap: 10px;
  align-items: start;
  justify-content: space-between;
}

.mob-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 1;
}

.mob-menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  list-style: none;
  gap: 10px;
  list-style-type: none;
}

.mob-menu-item {
  width: 100%;
  color: var(--color-2);
  font-size: var(--head-1);
  text-transform:capitalize;
  line-height: var(--line-height);
  font-weight: 500;
  cursor: pointer;
}
.mob-menu-item:hover {
  color: var(--brand);
}

/* content */

.content {
  width: 95%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: var(--padding-1);
  max-width: 500px;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bio {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: var(--bg-2);
  border-radius: var(--radius-2);
  padding: 5px;
}

.arshid {
  width: 16%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  border: var(--border);
}

.bio-text {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-grow: 1;
  gap: 4px;
}

.name {
  font-size: var(--head-4);
  color: var(--brand);
  text-transform: capitalize;
  font-weight: 500;
  width: 100%;
}

.description {
  font-size: var(--body-small);
  color: var(--color-2);
  width: 100%;
}

.intro {
  width: 100%;
  background: var(--bg-2);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

  border-radius: var(--radius-2);
  padding: var(--padding-2);
}

.body-text {
  font-size: var(--body-text);
  color: var(--color-1);
  line-height: var(--line-height-2);
  width: 100%;
}

.body-text-sml {
  font-size: var(--body-small);
  color: var(--color-2);
  line-height: var(--line-height-2);
  width: 100%;
}

.xeven {
  text-decoration: none;
  color: var(--brand);
  font-weight: 600;
}

.service-intro {
  width: 100%;
  background: var(--bg-2);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  border: var(--border);
  border-radius: var(--radius-2);
  padding: var(--padding-2);
}

.heading1 {
  font-size: var(--head-1);
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.heading2 {
  font-size: var(--head-3);
  font-weight: 500;
  width: 100%;
}

.services-list {
  width: 100%;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.service-item {
  font-size: var(--body-small);
  color: var(--color-2);
  line-height: var(--line-height);
  position: relative;
}

::marker {
  color: var(--brand);
  font-size: var(--body-text);
}

.social-links {
  width: auto;
  padding: 5px;

  border-radius: var(--radius-2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--bg-2);
}

.social-link {
  text-decoration: none;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: var(--border);
  color: var(--color-2);
  padding: 5px;
  line-height: none;
}

.social-link:hover {
  color: var(--brand);
  border-color: var(--border-color);
}

/* ------contact page------- */

.contact-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.contact-form input,
textarea {
  width: 100%;
  color: var(--color-1);
  font-family: var(--font-family);
  font-size: var(--body-small);
  background: var(--bg-2);
  border: var(--border);
  padding: 12px;
  border-radius: 14px;
  outline: none;
}

.contact-form input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--brand);
}

.contact-form input::placeholder,
textarea::placeholder {
  color: var(--color-2);
  text-transform: capitalize;
}

.contact-form textarea {
  resize: vertical;
  min-height: 160px;
}

.submit-btn {
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background: var(--brand);
  font-family: var(--font-family);
  font-size: var(--body-small);
  text-transform: var(--text-transform);
  font-weight: 500;
  color: var(--bg-2);
  text-align: center;
  padding: 12px;
  border-radius: 14px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #d50700;
}

/* service */

.parent-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.service-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.service-card {
  display: flex;
  flex-direction: column;
  background: var(--bg-2);
  border-radius: var(--radius-2);
  padding: 10px;
  width: 100%;
  flex-grow: 1;
  gap: 2rem;
  justify-content: space-between;
}

.service-icon {
  display: inline-block;
  color: var(--brand);
  padding: 5px;
  border-radius: 10px;
  border: var(--border);
  width: 10%;
}

.service-name {
  font-size: var(--body-small);
  font-weight: 400;
  color: var(--color-2);
}

.btn {
  width: 100%;
  text-decoration: none;
  background: var(--brand);
  font-family: var(--font-family);
  font-size: var(--body-small);
  text-transform: var(--text-transform);
  font-weight: 500;
  color: var(--bg-2);
  text-align: center;
  padding: 10px;
  border-radius: 14px;
}
.btn:hover {
  background: #d50700;
}

/* projects */

.project-img {
  width: 100%;
  border-radius: 10px;
  border: var(--border);
}

.project-about {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-name {
  font-size: var(--body-small);
  text-transform: capitalize;
  font-weight: 400;
  flex-grow: 1;
  width: 60%;
}

.project-link {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 5px;
  margin: 0;
  border-radius: 12px;
  border: var(--border);
  color: var(--brand);
}

.project-link:hover {
  background: var(--bg-1);
}

.link-icon {
  width: 100%;
}




/* content */

/* assets content */

.asset-content {
  width: 92%;
  max-width: 1000px;
  padding: var(--padding-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.assets-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;

}

.asset-card {
  display: flex;
  flex-direction: column;
  background: var(--bg-2);
  border-radius: var(--radius-2);
  border: var(--border);
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;


}




.asset-img {
  width: 100%;
  
}

.asset-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px ;
}


.asset-title {
  font-size: var(--body-text);
  font-weight: 400;
  color: var(--color-1);
  text-transform: capitalize;
}

.asset-description {
  font-size: var(--body-small);
  font-weight: 400;
  color: var(--color-2);
}

.asset-link {
  width: 100%;
  text-decoration: none;
  background: var(--brand);
  font-family: var(--font-family);
  font-size: var(--body-small);
  text-transform: var(--text-transform);
  font-weight: 500;
  color: var(--bg-2);
  text-align: center;
  padding: 10px;
  border-radius: 14px;
}




@media (min-width: 786px) {
  .header {
    width: auto;
  }
  .menu {
    display: flex;
  }

  .mob-menu {
    display: none;
    visibility: none;
  }

  .menu-open {
    display: none;
  }

  /* content */
  .content {
    width: 100%;
  }




  .arshid {
    width: 14%;
  }

  .service-card {
    width: 45%;
  }

  .service-icon {
    width: 16%;
  }

  .project-link {
    width: 14%;
  }

/* asset */
.asset-content {
  width: 100%;

}



.asset-card {

  width: 30%;
  
}

}

